@tailwind base;
@tailwind components;
@tailwind utilities;

$blue: #056ef0;
{% set orange = '#ff4500' %}

html {
 background-color: {{ theme.global_colors.primary.color }};
}

h1 {
  color: $blue;
}

h2 {
  color: {{ orange }}
}


  
