{# Tailwind CSS! Uses JIT to keep files small #}
@tailwind base;
@tailwind components;
@tailwind utilities;

{# SCSS style vars from PostCSS #}
$blue: #056ef0;

{# HubL Vars #}
{% set orange = '#ff4500' %}

{# Everything from the theme files fields.json works! #}
html {
 background-color: {{ theme.global_colors.primary.color }};
 /* PostCSS plugins allow you to nest CSS like in SASS */
  body {
    color: black;
  }
}

{# use SCSS style vars from PostCSS #}
h1 {
  color: $blue;
}

{# use HubL vars #}
h2 { 
  color: {{ orange }}
}

{# override theme-overrides.css (ironically) #}
h1,h2,h3,h4,h5,h6,td,tfoot,thead th, tfoot td {
  color: inherit;
}
.button {
  background-color: black;
}