{# ################################################## #}
  {# copy and paste this snippet into base.html #}
    {{ require_css(get_asset_url("../../css/styles.css")) }}
  {# then delete this file #}
{# ################################################## #}

{# ################################################## #}
  {# JFYI, use index.js to import the CMS boilerplate css partials 
    that are normally included in main.css. (standard imports already included)  
    Imports look like this: 
    import './css/generic/_reset.css';
    import './css/generic/_normalize.css';
  #}
  {# you can delete main.css and its reference in base.html #}
{# ################################################## #}
    

  